
.container  {

  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
}

.header {

  font-size: 1.4rem; // global font size reset, as 10 is way to low
  height: 7rem;
  border-color: #fff;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {

  display: flex;
}

.sidebar {

  // grow, shrink, basis
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1);

  // make a new flex container, note how we define
  // properties that are both for flex items and for flex container
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {

  background-color: #fff;

  // span the whole width
  flex: 1;
}

.detail {

  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
}

.description {
  font-size: 1.4rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex-grow: 0 0 60%;
  margin-right: 4.5rem;
}

.user-reviews {

  flex: 1;
}
