
// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;          // 1200px, if 1em -> 16px, 1200px ? 1200px / 16.
$bp-large: 62.5em;          // 1000px
$bp-medium: 50em;           // 800px
$bp-small: 37.5em;          // 600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;        // 1rem equals 10px

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;        // 100% -> 16px, 8px  ? 800 / 16 = 50%
  }
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
}

.container {
  display: grid;

  // note that one row is in function of the viewport width, and 4 of them
  // as tall as their contents
  // NOTES: you must know how the html is going to adapt into this grid
  // meaning that if you add a new tag in our grid, the whole placement
  // of the html is going to be completly misaligned
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);

  // we make 8 columns, as its a common standard to place our
  // content in an 8 column grid, and additionally, a sidebar
  // and 2 more columns that sit between our sidebar and the
  // 8 columnn grid

  // our 8 column grid must have an static size and down to its minimun content

  grid-template-columns:
    [sidebar-start] 8rem
    [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])   // 1140/8 ~ 140 px ~ 14rem
    [center-end] minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-large) {

    // grid configuration to move the sidebar on top of the web page
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);

    // layouts must be named, do note that we removed a column, and since we removed
    // a column our entire grid configuration has now changed (numeric column label)
    // but the names are intact.
    grid-template-columns:
      [full-start] minmax(6rem, 1fr)
      [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])   // 1140/8 ~ 140 px ~ 14rem
      [center-end] minmax(6rem, 1fr) [full-end];
  }

  @media only screen and (max-width: $bp-medium) {

    // new row for the header right content.
    // the second row is calculated dinamically to fit the entire viewport height

    // we removed the rest of the grid configuration, as they are all set as
    // 'min content'. The '40vw' has been change to min content as it wont
    // fit its content in such a small space, and hence we have got 6 times
    // 'min-content' rows, which is the system default, and thus, we removed them.
    grid-template-rows: 6rem calc(100vh - 6rem);
  }
}
