
.cta {

  padding: 3.5rem 0;
  text-align: center;

  @media only screen and (max-width: $bp-medium) {
    padding: 2.5rem 0rem;
  }

  &__book-now {

    font-size: 1.2rem;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
}

.btn {

  font-size: 1.5rem;
  font-weight: uppercase;
  border-radius: 100px;
  border: none;
  color: #fff;
  position: relative;
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark));
  overflow: hidden;
  cursor: pointer;

  & > * {

    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s;
  }

  &__visible {

    padding: 2rem 7.5rem;
  }

  // this element is invisible because its parent has the property
  // overflow: hidden
  &__invisible {

    position: absolute;
    padding: 2rem 0;
    left: 0;

    // move up exactly the size of this element
    top: -100%;
  }

  &:hover {

    background-image: linear-gradient(
      to left,
      var(--color-primary-light),
      var(--color-primary-dark));
  }

  &:hover &__visible {

    transform: translateY(100%);
  }

  &:hover &__invisible {

    top: 0;
  }

  &:focus {
    outline: none;
  }
}
