
.gallery {

  display: flex;

  &__photo {

    // flex will try to merge all of the 3 images inside a row. usually
    // 100% of width will spawn the whole vw without flex
    width: 100%;

    // avoid blank spaces under an image when its an inline element
    display: block;
  }
}
