
.list {

  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);

  display: flex;

  // if we dont set this property, all of the list items will try to fit
  // in just one line, even if the flex basis is set to 50%, the content
  // will overflow the parent container
  flex-wrap: wrap;

  &__item {

    // occupy the 50% of the parent width
    flex: 0 0 50%;
    margin-bottom: .7rem;
  }

  // icon set up
  &__item::before {

    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;

     // old approach
    background-image: url(../img/chevron-thin-right.svg);
    background-size: cover;

    // remember to add the webkit prefix and the non webkit prefix in the
    // supports declaration
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {

      // new approach
      background-color: var(--color-primary);

      // the 'mask' is a property that allows to see 'through' an image, masks
      // are the only way to fill svgs with background colors.
      // note: property only available in webkit
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;  // cover works quite diffrent here,
                                 // to overflow its content through the parent
                                 // as the content of this image will get clipped
                                 // because it wont fit its parent container

      // fallback for browsers that supports this property without a webkit prefix
      mask-image: url(../img/chevron-thin-right.svg);
      mask-size: cover;

      background-image: none;
    }
  }
}
