// for basic definitions (element styling)
// or "globals"

*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {

    // this defines what 1rem is
    font-size: 62.5%; // 1rem is equal to 10px; 10px/16px = 62.5%

    @include respond(tab-land) {
      font-size: 56.25%; // 9px
    }

    @include respond(tab-port) {
      font-size: 50%; // 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
      font-size: 75%; // 12px
    }
}

body {

    box-sizing: border-box;
    padding: 3rem;
    margin: 0;

    @include respond(tab-port) {
      padding: 0;
    }
}
